{% extends 'base.html.twig' %} {% block title %}Connexion{% endblock %} {% block
body %}
<form method="post">
  {% if error %}
  <div class="alert alert-danger">
    {{ error.messageKey|trans(error.messageData, 'security') }}
  </div>
  {% endif %} {% if app.user %}
  <div class="mb-3">
    Vous etes connecté : {{ app.user.firstname }} {{ app.user.lastname }}
    <a href="{{ path('app_logout') }}">Déconnexion</a>
  </div>
  {% endif %}

  <h1 class="h3 mb-3 font-weight-normal">Connectez-vous</h1>
  <label for="inputEmail">Email</label>
  <input
    type="email"
    value="{{ last_username }}"
    name="email"
    id="inputEmail"
    class="form-control"
    placeholder="Votre email"
    required
    autofocus
  />
  <label for="inputPassword">Mot de passe</label>
  <input
    type="password"
    name="password"
    id="inputPassword"
    class="form-control"
    placeholder="Votre mot de passe"
    required
  />

  <input
    type="hidden"
    name="_csrf_token"
    value="{{ csrf_token('authenticate') }}"
  />

  <button class="btn btn-lg btn-primary" type="submit">Connexion</button>
</form>
{% endblock %}
{% block footer %}
<footer class="bg-primary text-white text-center text-lg-start">
  <!-- Grid container -->
  <div class="container p-4">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">Footer Content</h5>

        <p>Lorem ipsum</p>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-0">Links</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!" class="text-white">Link 1</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    © 2020 Copyright
  </div>
  <!-- Copyright -->
</footer>
{% endblock %}
