{% extends 'base.html.twig' %}
{% block title %}Inscription{% endblock %} 
{% block stylesheets %}<link
      rel="stylesheet"
      href="{{ asset('css/form.css') }}"
    />{% endblock %}
{% block body %} 
{% for flashError in app.flashes('verify_email_error') %}
<div class="alert alert-danger" role="alert">{{ flashError }}</div>
{% endfor %}

<form class ="form">
<h1>Inscrivez-vous</h1>

{{ form_start(registrationForm) }}
{{ form_row(registrationForm.lastname,{'label':"Nom : ",'attr' : {'placeholder': "Votre Nom"}}) }}
{{ form_row(registrationForm.firstname,{'label':"Pénom : ",'attr' : {'placeholder': "Votre Prénom"}}) }}
{{ form_row(registrationForm.email,{'label':"Email : ",'attr' : {'placeholder': "Votre email"}}) }}
{{ form_row(registrationForm.plainPassword, {'label':"Mot de passe : ",'attr': {'placeholder' : "Votre mot de passe"} })}}

<button type="submit" class="btn btn-lg btn-primary">Inscription</button>
{{ form_end(registrationForm) }}
<form>

  {% block footer %}
    <footer class="bg-primary text-white text-center text-lg-start">
    <!-- Grid container -->
    <div class="container p-4">
        <!--Grid row-->
        <div class="row">
        <!--Grid column-->
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
            <h5 class="text-uppercase">E-mail</h5>
            <a href="mailto:anthonyrichard55200@gmail.com" class="text-white"><i class="fas fa-envelope" alt="enveloppe"></i></a>
            </form>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase mb-0">Réseaux sociaux</h5>
            <ul class="list-unstyled">
            <li>
                <a href="https://www.linkedin.com/in/anthony-richard-1361811aa/" target="_blank" class="text-white"><i class="fab fa-linkedin"alt="logo linkedin"></i></a>
            </li>
            </ul>
        </div>
        <!--Grid column-->
        </div>
        <!--Grid row-->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="cp">
        © 2020 Copyright
    </div>
    <!-- Copyright -->
    </footer>
    {% endblock %}
{% endblock %}